
html {
    height: 100%;
}
body {
    height: 100%;
}
#root {
    height: 100%;
    margin: 0;
    min-width:600px;
    font-family:'Franklin Gothic', 'Arial Narrow', 'Arial','sans-serif' ,'Courier New', 'Courier', 'monospace';
}
.row {
    width: 100%;
}
