.display {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.none {
    display: none;
}
.modal-dialog {
    font-family:'Franklin Gothic', 'Arial Narrow', 'Arial','sans-serif' ,'Courier New', 'Courier', 'monospace';
    
}