html {
  height: 100%; }

body {
  height: 100%; }

#root {
  height: 100%;
  margin: 0;
  min-width: 600px;
  font-family: 'Franklin Gothic', 'Arial Narrow', 'Arial','sans-serif' ,'Courier New', 'Courier', 'monospace'; }

.row {
  width: 100%; }
.onscroll {
  position: fixed; }

.navbar-nav {
  align-items: center; }

.MuiTypography-subheading-62 {
  font-family: 'Franklin Gothic', 'Arial Narrow', 'Arial','sans-serif' ,'Courier New', 'Courier', 'monospace' !important; }
.search-input {
  width: 100%;
  margin: 20px 0; }
  .search-input input {
    margin: auto;
    width: 400px;
    display: flex;
    font-size: 20px;
    border-radius: 5px; }
    .search-input input:focus {
      border: solid 2px #2929eb;
      border-radius: 5px;
      outline: none; }

.nav-item .nav-link {
  cursor: pointer;
  font-size: 20px; }
  .nav-item .nav-link span {
    margin: 0px; }

.nav-item .active {
  font-weight: bold;
  color: red !important; }
.tab-content .active {
  display: flex !important; }

.list-friend {
  min-height: 300px; }
.display {
  display: flex;
  flex-direction: row;
  align-items: center; }

.none {
  display: none; }

.modal-dialog {
  font-family: 'Franklin Gothic', 'Arial Narrow', 'Arial','sans-serif' ,'Courier New', 'Courier', 'monospace'; }
#root {
  background: url(/7c80c018f26eec3f187faa028d0a89f5.jpg) no-repeat;
  background-size: cover; }
