
.search-input {
    width: 100%;
    margin:  20px 0;
    input {
        margin: auto;
        width: 400px;
        display: flex;
        font-size: 20px;
        border-radius: 5px;
        &:focus {
            border: solid 2px rgb(41, 41, 235);
            border-radius: 5px;
            outline: none;
        }
    }
}

.nav-item {
    .nav-link {
        cursor: pointer;
        font-size: 20px;
        span {
            margin: 0px;
        }
    }
    
    .active {
        font-weight: bold;
        color: red !important; 
    }

}
